<aside class="gh-post-upgrade-cta">
	<div>
		<h2 class="font-bold text-primary-900 dark:text-accent-400">This content is for subscribers only.</h2>
		<br />
		<button class="btn" data-portal="signup">Subscribe now</button>
		<p class="text-gray-400"><small class="text-primary-900 dark:text-accent-400">Already have an account? <a class="hiliter text-primary-900" data-portal="signin">Sign in</a></small></p>
	</div>
</aside>