<aside class="gh-post-upgrade-cta">
<div>
	<h2 class="font-bold">This content is for paying subscribers only.</h2>
	<br />
	<button class="btn" data-portal="signup">Subscribe now</button>
	<p class="text-gray-400"><small>Already have an account? <a class="hiliter" data-portal="signin">Sign in</a></small></p>
</div>
</aside>