<!-- pricing -->
<div class="relative w-full h-full bg-gray-100 dark:bg-gray-700">
    <div class="absolute hidden w-full lg:block h-96"></div>
        <div class="relative px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 ">
            <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12 ">
                <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto">
                    <span class="relative inline-block">
                        {{> "decorators/svg-headline"}}
                        <span class="relative">Affordable</span>
                    </span>
                    for everyone
                </h2>
                <p class="text-base md:text-lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.</p>
            </div>
            <div class="grid max-w-screen-md gap-10 md:grid-cols-2 sm:mx-auto">
                <div>
                    <div class="p-8 bg-gray-900 rounded">
                        <div class="mb-4 text-center">
                            <p class="text-xl font-medium tracking-wide text-gray-100">Monthly Plan</p>
                            <div class="flex items-center justify-center">
                                <p class="mr-2 text-5xl font-semibold text-white lg:text-6xl">${{@price.monthly}}</p>
                                <p class="text-lg text-gray-400">/ month</p>
                            </div>
                        </div>
                        <ul class="mb-8 space-y-2">
                            <li class="flex items-center">
                                {{> "decorators/svg-circle-arrow"}}
                                <p class="font-medium text-gray-300">10 lorem</p>
                            </li>
                            <li class="flex items-center">
                                    {{> "decorators/svg-circle-arrow"}}
                                <p class="font-medium text-gray-300">10 ipsum</p>
                            </li>
                            <li class="flex items-center">
                                {{> "decorators/svg-circle-arrow"}}
                                <p class="font-medium text-gray-300">3 dolor sit</p>
                            </li>
                            <li class="flex items-center">
                                {{> "decorators/svg-circle-arrow"}}
                                <p class="font-medium text-gray-300">Amet</p>
                            </li>
                        </ul>
                        <button type="submit" data-portal="signup/monthly" class="inline-flex items-center justify-center w-full h-12 px-6 font-semibold tracking-wide bg-primary-900 text-accent-400 transition duration-200 rounded shadow-md hover:bg-accent-400 hover:text-primary-900 hover:shadow-none focus:shadow-outline focus:outline-none">Get Now</button>
                    </div>
                {{> "decorators/svg-shadow-box"}}
            </div>
        </div>
    </div>
</div>