<!-- pricing -->
<div class="relative w-full h-full bg-gray-100 dark:bg-gray-700">
    <div class="absolute hidden w-full lg:block h-96"></div>
        <div class="relative px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 ">
            <!-- pricing header -->
            <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12 ">
                <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto">
                    <span class="relative inline-block">
                        {{> "decorators/svg-headline"}}
                        <span class="relative">Be the first</span>
                    </span>
                    to get access to Ultrasound Guidance
                </h2>
                <p class="text-base md:text-lg">Pre-order your Ultrasound Guidance membership now for a great deal on your membership, and <strong>early access once our website launches in early 2022</strong>!</p>
                <br/>
                <p class="text-base md:text-lg">And who knows, you might just get something special to go along with it!</p>
            </div>
            <!-- end pricing header -->
            
            <!-- card container -->
            <div class="grid max-w-screen-md gap-10 md:grid-cols-2 sm:mx-auto">
                {{#foreach @products as |product|}}
                {{#has number="2,3,5,6"}}
                <!-- pricing card -->
                <div>
                    <div class="p-8 bg-gray-900 rounded">
                        <div class="mb-4 text-center">
                            <p class="text-xl font-medium tracking-wide text-gray-100">{{product.name}}</p>
                            <div class="flex items-center justify-center">
                                <p class="mr-2 text-5xl font-semibold text-white lg:text-6xl">{{price product.yearly_price}}</p>
                                <p class="text-lg text-gray-400">/ year</p>
                            </div>
                        </div>
                        {{> "members/benefits"}}
                    </div>
                    {{> "decorators/svg-shadow-box"}}
                </div>
                <!-- end pricing card -->
                {{/has}}
                {{/foreach}}
            </div>
            <!-- end card container -->
    </div>
    
</div>
<!-- end pricing -->
