{{!< default}}
<!-- hero -->
<div class="relative flex flex-col py-16 lg:pt-0 lg:flex-col lg:pb-0 ">
	<div class="flex flex-col items-start w-full max-w-xl px-4 mx-auto lg:px-8 lg:max-w-screen-xl">
		<div class="mb-16 lg:my-40 lg:max-w-lg lg:pr-5">
		  <div class="max-w-xl mb-6">
			<div>
				<p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-primary-600 uppercase rounded-full bg-accent-400 dark:bg-primary-800 dark:text-accent-400">New Collaboration</p>
			</div>
			<h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none">
				The quick brown fox<br class="hidden md:block" />jumps over <span class="inline-block hiliter">a lazy dog</span>
			</h2>
			<p class="text-base md:text-lg">
			  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum at quam expedita omnis? Repellat doloremque consequuntur voluptates, quas quod amet temporibus deserunt quidem modi, exercitationem sequi velit, saepe nobis odit!
			</p>
		  </div>
		  <div class="flex flex-col items-center md:flex-row">
			<a href="/" class="btn mr-3">Apply Now</a>
			<a href="/" aria-label="" class="btn">Learn more</a>
		  </div>
		</div>
	</div>
	<div class="inset-y-0 right-0 w-full max-w-xl px-4 mx-auto lg:pl-8 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-1/2 lg:max-w-full lg:absolute xl:px-0">
		<img class="object-cover w-full h-56 rounded shadow-lg lg:rounded-l-2xl lg:shadow-none sm:h-96 lg:h-full" src="assets/images/pexels.jpg" alt="" />
	</div>
</div>

<!-- features -->
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20">
	{{> "decorators/svg-centered-section"}}		
	<!-- features container -->
	<div class="grid max-w-screen-lg gap-8 row-gap-10 mx-auto lg:grid-cols-2">
		
		<!-- single feature -->
		<div class="flex flex-col max-w-md sm:mx-auto sm:flex-row">
			{{> "decorators/svg-circle-lightning"}}
			<div>
				<h6 class="mb-3 text-xl font-bold leading-5">The deep ocean</h6>
				<p class="mb-3 text-sm">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae excepturi iure, enim, facilis laborum totam consequatur quam exercitationem animi obcaecati quod accusantium ipsa fugit.
				</p>
				<a href="/" aria-label="" class="lnk">Learn more</a>
			</div>
		</div>
		<!-- END single feature -->
	
		<!-- single feature -->
		<div class="flex flex-col max-w-md sm:mx-auto sm:flex-row">
		  	{{> "decorators/svg-circle-lightning"}}
			<div>
				<h6 class="mb-3 text-xl font-bold leading-5">When has justice</h6>
				<p class="mb-3 text-sm text-gray-900 dark:text-gray-200">
					Rough pomfret lemon shark plownose chimaera southern sandfish kokanee northern sea robin Antarctic cod. Yellow-and-black triplefin gulper South American Lungfish mahi-mahi, butterflyfish glass catfish soapfish ling gray mullet!
				</p>
				<a href="/" aria-label="" class="lnk">Learn more</a>
			</div>
		</div>
		<!-- END single feature -->
	
		<!-- single feature -->
		<div class="flex flex-col max-w-md sm:mx-auto sm:flex-row">
			{{> "decorators/svg-circle-lightning"}}
			<div>
				<h6 class="mb-3 text-xl font-bold leading-5">Organically grow</h6>
				<p class="mb-3 text-sm text-gray-900 dark:text-gray-200">
					A slice of heaven. O for awesome, this chocka full cuzzie is as rip-off as a cracker. Meanwhile, in behind the bicycle shed, Hercules Morse, as big as a horse and Mrs Falani were up to no good with a bunch of crook pikelets.
				</p>
				<a href="/" aria-label="" class="lnk">Learn more</a>
			</div>
		</div>
		<!-- END single feature -->
		
		<div class="flex flex-col max-w-md sm:mx-auto sm:flex-row">
			{{> "decorators/svg-circle-lightning"}}
			<div>
				<h6 class="mb-3 text-xl font-bold leading-5">A slice of heaven</h6>
				<p class="mb-3 text-sm text-gray-900 dark:text-gray-200">
					Disrupt inspire and think tank, social entrepreneur but preliminary thinking think tank compelling. Inspiring, invest synergy capacity building, white paper; silo, unprecedented challenge B-corp problem-solvers.
				</p>
				<a href="/" aria-label="" class="lnk">Learn more</a>
			</div>
	
		</div>
		<!-- END single feature -->

	</div>
	<!-- END features container -->

</div>
<!-- END features -->

<!-- pricing -->
<div class="relative w-full h-full bg-gray-100 dark:bg-gray-700">
	<div class="absolute hidden w-full lg:block h-96"></div>
		<div class="relative px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 ">
			<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12 ">
			    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto">
					<span class="relative inline-block">
						<svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-gray-400 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
							<defs>
								<pattern id="2c67e949-4a23-49f7-bf27-ca140852cf21" x="0" y="0" width=".135" height=".30">
									<circle cx="1" cy="1" r=".7"></circle>
					  			</pattern>
							</defs>
							<rect fill="url(#2c67e949-4a23-49f7-bf27-ca140852cf21)" width="52" height="24"></rect>
						</svg>
						<span class="relative">Affordable</span>
					</span>
					for everyone
				</h2>
				<p class="text-base md:text-lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.</p>
			</div>
			<div class="grid max-w-screen-md gap-10 md:grid-cols-2 sm:mx-auto">
		    	<div>
					<div class="p-8 bg-gray-900 rounded">
						<div class="mb-4 text-center">
							<p class="text-xl font-medium tracking-wide text-gray-100">Monthly Plan</p>
							<div class="flex items-center justify-center">
								<p class="mr-2 text-5xl font-semibold text-white lg:text-6xl">${{@price.monthly}}</p>
								<p class="text-lg text-gray-400">/ month</p>
							</div>
						</div>
						<ul class="mb-8 space-y-2">
							<li class="flex items-center">
								{{> "decorators/svg-circle-arrow"}}
								<p class="font-medium text-gray-300">10 lorem</p>
							</li>
							<li class="flex items-center">
				  		  		{{> "decorators/svg-circle-arrow"}}
								<p class="font-medium text-gray-300">10 ipsum</p>
							</li>
							<li class="flex items-center">
								{{> "decorators/svg-circle-arrow"}}
								<p class="font-medium text-gray-300">3 dolor sit</p>
							</li>
							<li class="flex items-center">
								{{> "decorators/svg-circle-arrow"}}
								<p class="font-medium text-gray-300">Amet</p>
							</li>
						</ul>
						<button type="submit" class="inline-flex items-center justify-center w-full h-12 px-6 font-semibold tracking-wide bg-primary-900 text-accent-400 transition duration-200 rounded shadow-md hover:bg-accent-400 hover:text-primary-900 hover:shadow-none focus:shadow-outline focus:outline-none">Get Now</button>
					</div>
				{{> "decorators/svg-shadow-box"}}
			</div>
			<div class="">
				<div class="p-8 bg-gray-900 rounded">
					<div class="mb-4 text-center">
						<p class="text-xl font-medium tracking-wide text-gray-100">Annual Plan</p>
						<div class="flex items-center justify-center">
							<p class="mr-2 text-5xl font-semibold text-white lg:text-6xl">${{@price.yearly}}</p>
							<p class="text-lg text-gray-400">/ year</p>
						</div>
					</div>
					<ul class="mb-8 space-y-2">
						<li class="flex items-center">
							{{> "decorators/svg-circle-arrow"}}
							<p class="font-medium text-gray-300">10 lorem</p>
						</li>
						<li class="flex items-center">
							{{> "decorators/svg-circle-arrow"}}
							<p class="font-medium text-gray-300">50 ipsum</p>
						</li>
						<li class="flex items-center">
							{{> "decorators/svg-circle-arrow"}}
							<p class="font-medium text-gray-300">Dolor</p>
						</li>
						<li class="flex items-center">
							{{> "decorators/svg-circle-arrow"}}
							<p class="font-medium text-gray-300">Sit amet</p>
						</li>
					</ul>
					<button type="submit" class="inline-flex items-center justify-center w-full h-12 px-6 font-semibold tracking-wide transition duration-200 rounded shadow-md bg-accent-400 text-primary-900 hover:bg-tertiary-400 hover:text-primary-900 hover:shadow-none focus:shadow-outline focus:outline-none">Get Now</button>
				</div>
			{{> "decorators/svg-shadow-box"}}
			</div>
		</div>
	</div>
</div>