{{!< default}}
<div class="relative flex flex-col my-16 py-16 lg:pt-0 lg:flex-col lg:pb-0 ">
   <div class="flex flex-col justify-between align-middle items-start w-full max-w-xl px-4 mx-auto lg:px-8 lg:max-w-screen-xl">
      <div class="mb-16 lg:max-w-lg lg:pr-5">
         <div class="max-w-xl mb-6">
            {{#get "posts" filter="slug:hero-copy"}}
               {{#foreach posts}}
                  {{content}}
               {{/foreach}}
            {{/get}}
            {{!-- .hero-button-left --}}{{!-- .hero-button-right --}}
         </div>
      </div>
      <div class="kg-embed hero-video-container">
        {{#get "posts" filter="slug:hero-video"}}
           {{#foreach posts}}
              {{content}}
           {{/foreach}}
        {{/get}}
       </div>
   </div>
<br />

{{> "hero/bullet-features"}}

{{> "hero/pricing"}}
