{{!< default}}
<div class="relative flex flex-col py-16 lg:pt-0 lg:flex-col lg:pb-0 ">
   <div class="flex flex-col items-start w-full max-w-xl px-4 mx-auto lg:px-8 lg:max-w-screen-xl">
      <div class="mb-16 lg:my-40 lg:max-w-lg lg:pr-5">
         <div class="max-w-xl mb-6">
            {{#get "posts" filter="slug:hero-copy"}}
               {{#foreach posts}}
                  {{content}}
               {{/foreach}}
            {{/get}}
            <div>
               <p class="hero-headliner">Quality Education</p>
            </div>
               <h2 class="hero-title">Ultrasound expertise<br class="hero-title-break" /> in the palm <span class="hero-alternate-color">of your hand</span></h2>
               <p class="hero-bodycopy">It’s time to level up your ultrasound skill set. Get the education you need any time you need it. Our videos work on any device, making it easy for you to learn at your own convenience.</p>
            <div class="hero-button-container">
               <a href="#/portal/" class="hero-button-left">Join Now</a>
               <a href="http://localhost:2368/plans/" class="hero-button-right">Learn more</a>
            </div>
            <div class="hero-button-container">
               <a href="/trial/" class="inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide transition duration-200 rounded shadow-md bg-primary-900 text-accent-400 hover:bg-accent-400 hover:text-primary-900 hover:shadow-none focus:shadow-outline focus:outline-none dark:text-primary-900 dark:bg-accent-400 dark:hover:bg-primary-900 dark:hover:text-accent-400 dark:font-medium dark:hover:font-medium">Trial Video</a>
            </div>
            </div>
         </div>
      </div>
      <div class="kg-embed hero-video-container">
        {{#get "posts" filter="slug:hero-video"}}
            {{#foreach posts}}
               {{content}}
            {{/foreach}}
         {{/get}}
       </div>
   </div>
<br />

{{> "hero/bullet-features"}}

{{> "hero/pricing"}}
