<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
<div class="grid gap-5 lg:grid-cols-4 sm:max-w-sm sm:mx-auto lg:max-w-full">
	<div class="overflow-hidden transition-shadow duration-300 rounded">
		<a href="/" aria-label="Article"><img src="https://images.pexels.com/photos/932638/pexels-photo-932638.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" class="object-cover w-full h-64 rounded" alt="" /></a>
		<div class="py-5">
			<p class="mb-2 text-xs font-semibold uppercase">
				13 Jul 2020
			</p>
			<a href="/" aria-label="Article" class="inline-block mb-3 brand-lnk">
				<p class="text-2xl font-bold leading-5">Diving to the deep</p>
			</a>
			<p class="mb-4">
				Sed ut perspiciatis unde omnis iste natus error sit sed quia consequuntur magni voluptatem doloremque.
			</p>
		</div>
	</div>

	<div class="overflow-hidden transition-shadow duration-300 rounded">
		<a href="/" aria-label="Article"><img src="https://images.pexels.com/photos/1576937/pexels-photo-1576937.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500" class="object-cover w-full h-64 rounded" alt="" /></a>
		<div class="py-5">
			<p class="mb-2 text-xs font-semibold uppercase">4 Nov 2020</p>
				<a href="/" aria-label="Article" class="inline-block mb-3 transition-colors duration-200 brand-lnk">
					<p class="text-2xl font-bold leading-5">Conquer the World</p>
			</a>
			<p class="mb-4">
				Sed ut perspiciatis unde omnis iste natus error sit sed quia consequuntur magni voluptatem doloremque.
			</p>
		</div>
	</div>

	<div class="overflow-hidden transition-shadow duration-300 rounded">
		<a href="/" aria-label="Article"><img src="https://images.pexels.com/photos/2123755/pexels-photo-2123755.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-64 rounded" alt="" /></a>
		<div class="py-5">
			<p class="mb-2 text-xs font-semibold uppercase">28 Dec 2020</p>
			<a href="/" aria-label="Article" class="inline-block mb-3 transition-colors duration-200 brand-lnk">
				<p class="text-2xl font-bold leading-5">Explore the beautiful</p>
			</a>
			<p class="mb-4">
				Sed ut perspiciatis unde omnis iste natus error sit sed quia consequuntur magni voluptatem doloremque.
			</p>
		</div>
	</div>

	<div class="overflow-hidden transition-shadow duration-300 rounded">
		<a href="/" aria-label="Article"><img src="https://images.pexels.com/photos/2123755/pexels-photo-2123755.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-64 rounded" alt="" /></a>
		<div class="py-5">
			<p class="mb-2 text-xs font-semibold uppercase">28 Dec 2020</p>
			<a href="/" aria-label="Article" class="inline-block mb-3 transition-colors duration-200 brand-lnk">
				<p class="text-2xl font-bold leading-5">Explore the beautiful</p>
			</a>
			<p class="mb-4">
				Sed ut perspiciatis unde omnis iste natus error sit sed quia consequuntur magni voluptatem doloremque.
			</p>
		</div>
		</div>
</div>
</div>