{{!< default}}
<div class="relative pt-6 pb-16 lg:pt-0 overflow-hidden">
	{{> "decorators/svg-post"}}
	<div class="relative px-4 sm:px-6 lg:px-8">
		{{#post}}
			<div class="text-lg max-w-prose mx-auto">
				<h1>
					<span class="block text-base text-center font-semibold tracking-wide uppercase"></span>
					<span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight sm:text-4xl">{{title}}</span>
					<span class="block text-base text-center font-semibold tracking-wide uppercase">
						{{#if tags}}
							<span class="text-gray-700">Filed under:</span> 
							{{#foreach tags}}
								{{^if @first}} | {{/if}}<a class="lnk" href="{{url}}">{{name}}</a>
							{{/foreach}}
					</span>
						{{/if}}</h1>
			</div>
			<div class="mt-6 prose prose-lg mx-auto gh-content">
				{{content}}
			</div>
		{{/post}}
	</div>
</div>