{{!< default}}
<!-- page container -->
<div class="relative py-16 overflow-hidden">
	{{> "decorators/svg-post"}}	
	
	<!-- post container -->
	<div class="relative px-4 sm:px-6 lg:px-8">
		{{#post}}
		<!-- post header -->
		<div class="text-lg max-w-prose mx-auto">
			<h1>
				<span class="block text-base text-center font-semibold tracking-wide uppercase"></span>
				<span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight sm:text-4xl">{{title}}</span>
			</h1>
			<p class="mt-8 text-xl leading-8">{{excerpt}}</p>
		</div>
		
		<!-- post body -->
		<div class="mt-6 prose prose-lg mx-auto gh-content">
			{{content}}
		</div>
		{{/post}}
	</div>
</div>