{{!< default}}
<div class="px-4 pt-6 pb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pt-0">
	<div class="text-lg max-w-prose mx-auto">
		{{#if @member}}
			<h1>
				<span class="block text-base text-center font-semibold tracking-wide uppercase">Browse Our</span>
				<span class="mb-6 block text-3xl text-center leading-8 font-extrabold tracking-tight sm:text-4xl">Procedure Atlas</span>
			</h1>
			</div>
			<br />
			{{> "features/procedure-loop"}}
		{{else}}
			<div class="relative px-4 sm:px-6 lg:px-8">
				<div class="text-lg max-w-prose mx-auto">
					<h1>
						<span class="block text-base text-center font-semibold tracking-wide uppercase">Welcome to Ultrasound Guidance</span>
						<span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight sm:text-4xl">Please Log In</span>
					</h1>
				</div>
				<br /><br /><br />
				<div class="mt-6 prose prose-lg mx-auto gh-content">
					{{> "content-cta"}}
				</div>
				<br /><br /><br />
			</div>
		{{/if}}
	</div>
</div>