{{!< default}}
<div class="relative flex flex-col py-16 lg:pt-0 lg:flex-col lg:pb-0 ">
<div class="flex flex-col items-start w-full max-w-xl px-4 mx-auto lg:px-8 lg:max-w-screen-xl">
<div class="mb-16 lg:my-40 lg:max-w-lg lg:pr-5">
<div class="max-w-xl mb-6">
{{#get "posts" filter="slug:hero-copy"}}
   {{#foreach posts}}
   {{content}}
   {{/foreach}}
{{/get}}
<div class="flex flex-col space-y-2 md:space-y-0 md:items-center md:flex-row">
<a href="#/portal/" class="btn md:mr-1">Join Now</a><a href="/plans/" aria-label="" class="btn md:ml-1">Learn more</a>
</div>
</div>
</div>
<div class="kg-embed inset-y-0 right-0 w-full max-w-xl px-4 mx-auto lg:pl-8 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-1/2 lg:max-w-full lg:absolute xl:px-0">
     <iframe class="kg-embed-card rounded lg:rounded-tl-2xl"
     src="https://player.vimeo.com/video/659983273?h=b0b4d06512" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <iframe class="kg-embed-card rounded lg:rounded-bl-2xl !sm:mb-0 pb-0"
     src="https://player.vimeo.com/video/626282033?h=453c2db995" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
   </div>
</div>
<br />

{{> "bullet-features"}}

{{> "pricing"}}