<!-- benefits -->
<ul class="mb-8 space-y-2">
    {{#has slug="m1"}}
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">$20 early adopter discount</p>
    </li>
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">Early access to all MSK, nerve, spasticity, and basics videos as they are released</p>
    </li>
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">Early notification about new and upcoming features</p>
    </li>
    {{/has}}

    {{#has slug="m2"}}
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">All MSK, nerve, spasticity, and basics videos as they are released</p>
    </li>
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">Early notification about new and upcoming features</p>
    </li>
    {{/has}}

    {{#has slug="m3"}}
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">All of the same benefits of the regular MSK package</p>
    </li>
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">Requires verification of training status after purchase</p>
    </li>
    {{/has}}
    
    {{#has slug="s1"}}
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">$20 early adopter discount</p>
    </li>
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">Early access to all spasticity, nerve, and basics videos as they are released</p>
    </li>
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">Early notification about new and upcoming features</p>
    </li>
    {{/has}}
    
    {{#has slug="s2"}}
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">Access to all nerve, spasticity, and basics videos as they are released</p>
    </li>
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">Early notification about new and upcoming features</p>
    </li>
    {{/has}}
    
    {{#has slug="s3"}}
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">All of the same benefits of the regular spasticity package</p>
    </li>
    <li class="flex items-center">
        {{> "decorators/svg-circle-arrow"}}
        <p class="font-medium text-gray-300">Requires verification of training status after purchase</p>
    </li>
    {{/has}}
    
</ul>
<!-- end benefits -->
