<div class="mr-4">
	<div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-gray-100 dark:bg-gray-300">
		<svg class="w-10 h-10 text-primary-900" stroke="currentColor" viewBox="0 0 52 52">
			<polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
		</svg>
	</div>
</div>