<div class="px-4 py-16 mt-2 mx-auto sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20">
   <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <span class="relative inline-block">{{> "decorators/svg-headline"}}</span>
   </div>
   <div class="grid max-w-screen-lg gap-8 row-gap-10 mx-auto lg:grid-cols-2">
      {{#get "posts" filter="tag:hash-bullet-features" order="asc"}}
         {{#foreach posts}}
            <div class="hero-feature-container">
               <div class="mr-4">
                  <div class="hero-feature-probe">
                     {{> "decorators/svg-probe"}}
                  </div>
               </div>
               <div>
                  <h6 class="hero-feature-title">{{title}}</h6>
                  <p class="hero-feature-body">{{content}}</p>
               </div>
            </div>
         {{/foreach}}
      {{/get}}
   </div>
</div>